# VIC aws private cridentials
#
# This file should only exist in '~/.vic/' on your laptop, except
# of course in an emergency.
#
# Use of this config follows general ssh private key handling, meaining:
#
#  - AWS VIC admin cridentials should only exist on trusted computers
#  - AWS VIC admin cridentials should not be left on shared computers
#  - When in ENV, AWS VIC admin cridentials should only be exposed
#    to AWS/boto tooling, and not promote ENV leakage in other programs.
#
# Tools like 'ssh-vic' are designed to handle AWS admin cridentials
# in the spirit of ssh-agent(1).
#
# AWS-API config 'roles' are currently not being used for this job,
# to explicitly avoid any surprising intermingling of existing and
# new org AWS infrastructure.
#
# The values below are described in this AWS document,
# https://docs.aws.amazon.com/cli/latest/userguide/cli-environment.html
# 
# Never lazy-load into your local env, but when vic tooling executes,
# this may be loaded to ENV for subsequent AWS child processes. 
